---
title: Home
---

<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
	<meta charset="UTF-8" />
	<title>{{ page.title }} - Cardillo&#039;s CreationsCardillo&#039;s Creations | Creating software and mobile apps to entertain and delight.</title>
	<link rel="profile" href="http://gmpg.org/xfn/11" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

	{% include style.html %}

</head>

<body class="home page page-id-210 page-template page-template-template-apps-dock-php mat-off table-on header-light footer-dark show-space-light">

	{% include header.html %}

	<section id="show-space">

		<script type="text/javascript">
			// Apps Slide Variable
			var apps_count = 3;
			var apps_show = 4;
		</script>

		<script type="text/javascript" src="/grizzly-theme/libs/grizzly-app-dock.js"></script>

		<div id="app-dock" class="clearfix app-dock-3">
			<div class="app-pack">

				<div class="app-icon">
					<a href="/app/new-circus-procession/" class="app-balloon-toggle-link">
						<img src="/app/new-circus-procession/images/newcircusprocession-120.png" width="120px" height="120px" />
					</a>

					<div class="app-info-balloon">
						<div class="app-title">New Circus Procession</div>
						<div class="balloon-tail"></div>
					</div>
					<!-- .app-info-balloon" -->

					<div class="shadow">
						<div class="shadow-left"></div>
						<div class="shadow-body"></div>
						<div class="shadow-right"></div>
					</div>
				</div>
				<!-- .app-icon -->

				<div class="app-icon">
					<a href="/app/mystic/" class="app-balloon-toggle-link">
						<img src="/app/mystic/images/Mystic-Icon.png" width="120px" height="120px" />
					</a>

					<div class="app-info-balloon">
						<div class="app-title">Mystic</div>
						<div class="balloon-tail"></div>
					</div>
					<!-- .app-info-balloon" -->

					<div class="shadow">
						<div class="shadow-left"></div>
						<div class="shadow-body"></div>
						<div class="shadow-right"></div>
					</div>
				</div>
				<!-- .app-icon -->

				<div class="app-icon">
					<a href="/app/eyez/" class="app-balloon-toggle-link">
						<img src="/app/eyez/images/icon-240-120x120.png" width="120px" height="120px" />
					</a>

					<div class="app-info-balloon">
						<div class="app-title">eyeZ</div>
						<div class="balloon-tail"></div>
					</div>
					<!-- .app-info-balloon" -->

					<div class="shadow">
						<div class="shadow-left"></div>
						<div class="shadow-body"></div>
						<div class="shadow-right"></div>
					</div>
				</div>
				<!-- .app-icon -->

			</div>
		</div>
		<!-- #app-dock -->

		<div id="app-control"></div>

		<div id="show-space-shadow"></div>
		<div id="pattern"></div>

	</section>
	<!-- #show-space -->

	<!-- TABLE -->
	<!-- Board & Mat -->
	<section id="table-wrap">
		<div id="table-top">
			<div id="table-top-shadow">
				<div id="table-mat-top-wrap">
					<div id="table-mat-top-texture"></div>
					<div id="table-mat-top"></div>
				</div>
			</div>
		</div>
		<div id="table-border">
			<div class="border-bottom-line"></div>
			<div id="table-border-shadow">
				<div id="table-mat-body-wrap-outer">
					<div id="table-mat-body-wrap">
						<div class="border-bottom-line"></div>
						<div id="table-mat-body"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="table-shadow"></div>
	</section>
	<!-- #table-wrap -->
	<!-- END TABLE -->

	<section id="body" class="full-width">
		<div id="body-wrap" class="container">
			<div id="body-content" class="clearfix rtf">

				<div id="main-content">
					<h2 class="section-title section-title-center section-lined"><span>Welcome to Cardillo&#8217;s Creations</span></h2>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="space"></div>
					<div class="clear"></div>
					<div class="space"></div>
					<h3 class="section-title section-title-center">My goal is to create software and mobile apps that serve their purpose well, provide real value to your life, or just entertain and delight.</h3>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="space"></div>
					<div class="clear"></div>
					<div class="space"></div>
					<h3 class="section-title  section-lined"><span>Featured Apps</span></h3>
					<div class="one_third ">
						<div class="app-frame">
							<div class="photo-frame icon-watch"><a href="/app/new-circus-procession/"><img src="/app/new-circus-procession/images/featured.png" alt="New Circus Procession" title="New Circus Procession" rel="tip" /></a>
								<div class="photo-frame-shadow"></div>
							</div>
							<div class="app-info"><img src="/app/new-circus-procession/images/newcircusprocession-120-56x56.png" />
								<div class="title"><a href="/app/new-circus-procession/">New Circus Procession</a></div>
								<div class="category">android / iOS / multiplatform</div>
							</div>
						</div>
					</div>
					<div class="one_third ">
						<div class="app-frame">
							<div class="photo-frame icon-watch"><a href="/app/mystic/"><img src="/app/mystic/images/featured.png" alt="Mystic" title="Mystic" rel="tip" /></a>
								<div class="photo-frame-shadow"></div>
							</div>
							<div class="app-info"><img src="/app/mystic/images/Mystic-Icon-56x56.png" />
								<div class="title"><a href="/app/mystic/">Mystic</a></div>
								<div class="category">iOS</div>
							</div>
						</div>
					</div>
					<div class="one_third last">
						<div class="app-frame">
							<div class="photo-frame icon-watch"><a href="/app/eyez/"><img src="/app/eyez/images/featured.png" alt="eyeZ" title="eyeZ" rel="tip" /></a>
								<div class="photo-frame-shadow"></div>
							</div>
							<div class="app-info"><img src="/app/eyez/images/icon-240-56x56.png" />
								<div class="title"><a href="/app/eyez/">eyeZ</a></div>
								<div class="category">android</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="clear"></div>
					<div class="space"></div>
					<div class="clear"></div>
					<div class="space"></div>
				</div>

			</div>
			<!-- #body-content -->
		</div>
		<!-- #body-wrap -->
	</section>
	<!-- #body -->

	{% include footer.html %}
	{% include google-analytics.html %}

</body>

</html>
