---
title: TempoTutor-Toon
---

<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }} | Cardillo&#039;s Creations</title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

    {% include css.html %}

</head>

<body class="single single-app mat-off table-on header-light footer-dark show-space-light">

    {% include header.html %}

    <section id="show-space">

        <style type="text/css" scoped>
            /* Background */

            /* Layout Override */

        </style>

        <script type="text/javascript">
            //<![CDATA[

            jQuery(document).ready(function($) {

                $('#screen.flexslider').flexslider({
                    animation: 'slide',
                    slideDirection: 'horizontal',
                    animationSpeed: 500,
                    slideshowSpeed: 3500,
                    slideshow: true,
                    controlNav: false
                });

                // Badge
                $('.application-market-link .button').mouseenter(function() {
                    $('.qr-price img', $(this).parent('.application-market-link')).stop().animate({
                        top: 10
                    }, 300, 'easeOutQuad');
                }).mouseleave(function() {
                    $('.qr-price img', $(this).parent('.application-market-link')).stop().animate({
                        top: 110
                    }, 300, 'easeOutQuad');
                });

                // Retina
                if (document.documentElement.clientWidth > 750) {
                    $('.retina').retina({
                        preload: true,
                        css: {
                            'z-index': 9999
                        }
                    });
                }

                // Show Application Box after Loaded
                if (!$.browser.msie) {
                    var app_box_imgs_load = $('.application-box').imagesLoaded();
                    app_box_imgs_load.always(function($images) {
                        $('.application-box').animate({
                            opacity: 1
                        }, 600);
                    });
                } else {
                    $('.application-box').css('opacity', 1);
                }

            });
            //]]>

        </script>

        <div id="iphone5-b-portrait-box" class="application-box clearfix portrait iphone container">

            <div id="application-info-box">

                <img id="apps-icon" src="images/icon.png" />

                <h1 id="apps-title">
                    TempoTutor-Toon
                </h1>

                <div id="showcase-info">
                    <p>An interactive and fun metronome to help improve attention, focus, rhythm, and reaction time..</p>
                </div>

                <!-- Button #1 -->
                <div class="application-market-link">
                    <div class="button action-button black google-play-button ">
                        <a href="https://play.google.com/store/apps/details?id=com.cardilloscreations.games.tempotutor.toon"> <span>FREE <small>on Google Play</small></span><span class="icon-mask"></span>
                        </a>
                    </div>

                    <div class="qr-price">
                        <img src="https://api.qrserver.com/v1/create-qr-code/?data=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.cardilloscreations.games.tempotutor.toon&size=100x100" alt="qr-code" />
                    </div>
                </div>

                <!-- Button #2 -->
                <!--
                <div class="application-market-link">
                    <div class="button action-button black amazon-button ">
                        <a href="./"> <span>COMING <small>on Amazon</small></span><span class="icon-mask"></span>
                        </a>
                    </div>

                    <div class="qr-price">
                        <img src="https://api.qrserver.com/v1/create-qr-code/?data=https%3A%2F%2Fcardilloscreations.com%2Fapp%2Ftempo-tutor-toon%2F&size=100x100" alt="qr-code" />
                    </div>
                </div>
                -->

                <!-- Button #3 -->
                <div class="application-market-link last">
                    <div class="button action-button black apple-button ">
                        <a href="https://itunes.apple.com/us/app/tempotutor-toon/id1463257524?mt=8"> <span>FREE <small>on App Store</small></span><span class="icon-mask"></span>
                        </a>
                    </div>

                    <div class="qr-price">
                        <img src="https://api.qrserver.com/v1/create-qr-code/?data=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Ftempotutor-toon%2Fid1463257524%3Fmt%3D8&size=100x100" alt="qr-code" />
                    </div>
                </div>

            </div><!-- #application-info-box -->


            <div id="device-box">
                <div id="device">

                    <div id="screen" class="flexslider">
                        <ul class="slides">
                            <li><img src="images/sshot.1.png" /></li>
                            <li><img src="images/sshot.2.png" /></li>
                            <li><img src="images/sshot.3.png" /></li>
                            <li><img src="images/sshot.4.png" /></li>
                            <li><img src="images/sshot.5.png" /></li>
                        </ul>
                    </div>

                </div>
                <div class="shadow">
                    <div class="shadow-left"></div>
                    <div class="shadow-body"></div>
                    <div class="shadow-right"></div>
                </div>
            </div><!-- #device-box -->

        </div><!-- #application-box -->

        <div id="show-space-shadow"></div>
        <div id="pattern"></div>

    </section> <!-- #show-space -->

    <!-- TABLE -->
    <!-- Board & Mat -->
    <section id="table-wrap">
        <div id="table-top">
            <div id="table-top-shadow">
                <div id="table-mat-top-wrap">
                    <div id="table-mat-top-texture"></div>
                    <div id="table-mat-top"></div>
                </div>
            </div>
        </div>
        <div id="table-border">
            <div class="border-bottom-line"></div>
            <div id="table-border-shadow">
                <div id="table-mat-body-wrap-outer">
                    <div id="table-mat-body-wrap">
                        <div class="border-bottom-line"></div>
                        <div id="table-mat-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="table-shadow"></div>
    </section><!-- #table-wrap -->
    <!-- END TABLE -->

    <section id="body">
        <div id="body-wrap" class="container">
            <div id="body-content" class="rtf">

                <h3 class="section-title section-title-center">An interactive and fun metronome trainer that can help improve attention, focus, rhythm, and reaction time.</h3>
                <div class="clear"></div>
                <div class="clear"></div>
                <div class="space"></div>
                <h2 class="section-title section-lined"><span>Background</span></h2>
                <p>
                    Interactive metronome training has been shown to improve attention, focus, rhythm, and reaction time. Some use it to help with attention deficit disorders (ADD or ADHD). Professionals use it to help improve focus. Musicians use it to improve their sense of rhythm. Athletes use it to improve their reaction time or body rhythm.
                </p>
                <p>
                    While this app is not as accurate as a medical training device, it does contain many of the same features that are required for successful interactive metronome therapy training and tracking. In particular, the various interactive features (visuals and sounds) are important to successfully using it as a trainer. While it's designed to be fun, the detailed tracking, statistics, pink noise, and interactive feedback are what make it an effective interactive metronome trainer.
                </p>
                <p>
                    Headphones are recommended to get the most benefit from the interactive audio and pink noise.
                </p>
                <div class="clear"></div>
                <div class="clear"></div>
                <div class="space"></div>
                <h2 class="section-title section-lined"><span>Key Features</span></h2>
                <p>Interactive feedback and detailed statistics are key to effective training:</p>
                <div class="list-set type-1 list-red">
                    <ul>
                        <li>Set the target Time and Beats Per Minute to help with different goals.</li>
                        <li>Interactive sound feedback is in stereo to help engage all senses.</li>
                        <li>Several visual cues and real-time statistics are displayed.</li>
                        <li>High quality pink noise can be enabled to help with focus.</li>
                        <li>Detailed statistics make it easy to track progress.</li>
                        <li>Fun visual design that looks fun and appeals to all ages.</li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="clear"></div>
                <div class="space"></div>
                <h2 class="section-title section-lined"><span>More Details</span></h2>
                <p>
                    Google Scholar has <a href="https://scholar.google.com/scholar?hl=en&as_sdt=1%2C21&as_vis=1&q=effect+of+interactive+metronome+training&btnG=" target="_blank">many great articles on interactive metronome training</a>, and how it can help in various contexts.
                </p>
                <em>IMPORTANT: This app has no affliation with any companies that specialize in this field in a recreational or medical context. We are only using the terms stated here in the literal context of the meaning of the words in relation to the type of training the app provides. It's also important to note that this app cannot obtain the precision that is often desired in a medical context. It's not a replacement for highly accurate equipment used in clinical and other settings. It's simply meant to be a fun way to experiment with interactive metronome training.</em>
                <div class="clear"></div>
                <div class="clear"></div>
                <div class="space"></div>
                <h2 class="section-title section-lined"><span>Privacy Policy</span></h2>
                <p><a href="privacy.html">Privacy Policy</a> - The full privacy policy for this app.</p>
                <div class="clear"></div>
                <div class="clear"></div>
                <div class="space"></div>

            </div><!-- #body-content -->
        </div><!-- #body-wrap -->
    </section><!-- #body -->

    {% include footer.html %}

    {% include javascript.html %}
    {% include google-analytics.html %}

</body>

</html>
