<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Who Are We?
    </h3>
    <blockquote cite="{{ site.url }}">
      Lisa & Ray Cardillo own and operate Cardillo's Creations.
    </blockquote>
    <h3 class="lead">
      What Do We Do?
    </h3>
    <blockquote cite="{{ site.url }}">
      We pursue business opportunities and create content sharing our progress.
    </blockquote>
  </div>
</section>