<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Who Makes Things?
    </h3>
    <blockquote cite="{{ site.url }}">
      <p>
        I'm Ray Cardillo, and I make all the things.
        <br>
        Our LLC is owned by my wife and I, but I'm the primary maker behind the Cardillo's Creations shop.
      </p>
      <p>
        As a Software Engineer and Artist, I enjoy the intersection of art and technology.
        <br>
        This shop is my creative outlet for making unique limited edition gifts and similar items.  
      </p>
    </blockquote>
    <h3 class="lead">
      How Are Things Made?
    </h3>
    <blockquote cite="{{ site.url }}">
      Everything I sell is designed and handmade by me.
      <br>
      My methods of production vary according to the item, but in addition to typical crafting techniques, I use a combination of Laser Engraving, 3D Printing, molding, casting, and forging.
    </blockquote>
    <h3 class="lead">
      What Else Do You Do?
    </h3>
    <blockquote cite="{{ site.url }}">
      You may also be interested in my artistic candle and home decor brand: <a href="https://cireartistry.com" target="_blank">Cire Artistry</a>.
    </blockquote>
  </div>
</section>