<section class="site-section portfolio-section text-center" id="portfolio">
  <header class="section-header">
    <h2>
      Portfolio
    </h2>
  </header>
  <div class="section-content">
    <p>
      Our main focus is content creation and online business opportunities,
      but we also have some artistic and creative pursuits as well.
    </p>
    <br>

    <div class="row row-cols-1 row-cols-md-2 row-gap-3 portfolio-grid">

      {% for item in site.portfolio %}

      <div class="col col-gap-3">
        <div class="card text-bg-dark w-100" style="width: 18rem;">
          <a href="{{ item.url }}" title="Link to {{ item.title | strip_html }}">
            <div class="card-header text-nowrap"><h4>{{ item.title }}</h4></div>      
            <img class="card-img-top" src="{{ site.images_path }}/portfolio/{{ item.image }}" alt="Portfolio Item Image" />
          </a>
          <div class="card-footer">
            <ul class="nav nav-pills card-header-pills justify-content-center">
              <li class="nav-item mx-auto">
                <a class="nav-link" href="{{ item.url }}" title="Link to {{ item.title | strip_html }}">
                  <img src="{% link {{ site.images_path }}/icons/link.svg %}" alt="Hyperlink Image" height="100" width="100">
                </a>
              </li>
              {%- if item.ext-url %}
              <li class="nav-item mx-auto">
                <a class="nav-link" href="{{ item.ext-url }}" title="Link to {{ item.ext-name }}">
                  <img src="{% link {{ site.images_path }}/icons/{{ item.ext-icon }} %}" alt="{{ item.ext-name }} Image" height="100" width="100">
                </a>
              </li>
              {% endif -%}
            </ul>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>

  </div>
</section>
