---
title: Contact
---

<!DOCTYPE html>
<html lang="en-US" class="no-js">

<meta charset="UTF-8" />
<title>{{ page.title }} | Cardillo&#039;s CreationsCardillo&#039;s Creations</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="pingback" href="/xmlrpc.php" />

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

{% include style.html %}

</head>
<body class="page page-id-36 page-template page-template-template-full-width-php header-light footer-dark show-space-light"  >

		{% include header.html %}

    <section id="inner-page-show-space">

				    <div id="page-header" class="container">
		    	<h1 id="page-title">
		    		Contact		    	</h1>
		    			    </div>

		<div id="show-space-shadow"></div>
		<div id="pattern"></div>

	</section><!-- #inner-page-show-space -->

	<section id="body" class="full-width">
		<div id="body-wrap" class="container">
			<div id="body-content" class="clearfix rtf">

			<div id="main-content">
	        		        		        	<div class="contact-info-text">Use the support email address if you need any form of assistance with our apps.</div>
<ul class="contact-info">
<li class="email">support@cardilloscreations.com</li>
</ul>
<div class="contact-info-text">Use the general inbox email address for any other matters.</div>
<ul class="contact-info">
<li class="email">inbox@cardilloscreations.com</li>
</ul>
<div class="clear"></div>
<div class="space"></div>
	        		        </div>

			</div><!-- #body-content -->
	    </div><!-- #body-wrap -->
	</section><!-- #body -->

	{% include footer.html %}
	{% include google-analytics.html %}

</body>
</html>
