---
title: About Us
---

<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
<meta charset="UTF-8" />
<title>{{ page.title }} | Cardillo&#039;s CreationsCardillo&#039;s Creations</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

{% include style.html %}

</head>
<body class="page page-id-53 page-template-default header-light footer-dark show-space-light"  >

		{% include header.html %}

    <section id="inner-page-show-space">

				    <div id="page-header" class="container">
		    	<h1 id="page-title">
		    		About Us		    	</h1>
		    			    </div>

		<div id="show-space-shadow"></div>
		<div id="pattern"></div>

	</section><!-- #inner-page-show-space -->

	<section id="body" class="full-width">
		<div id="body-wrap" class="container">
			<div id="body-content" class="clearfix rtf">

			<div id="main-content">
	        		        		        	<p><img class="alignleft size-thumbnail wp-image-183" style="margin-bottom: 8px; margin-right: 8px;" alt="Ray Cardillo" src="/images/Ray-Cardillo-BW.jpg" width="150" height="150" />My name is Ray Cardillo and I established Cardillo&#8217;s Creations as an indie software company in 2008.  I am a one man shop, but I&#8217;m unofficially supported by family and friends.  I am already an accomplished software engineer, and I am always dedicated to my full-time job, so this is more of a hobby for me than anything else.  Calling it a hobby is a little odd given the number of hours that I spend creating and supporting my projects, but it really is a form of recreation for me, so I&#8217;m alright with that.  Some people work on classic cars or build models&#8230; I do that kinda stuff as well&#8230; but mostly I do this.</p>
<div class="clear"></div>
<div class="space"></div>
	        		        </div>

			</div><!-- #body-content -->
	    </div><!-- #body-wrap -->
	</section><!-- #body -->

	{% include footer.html %}
	{% include google-analytics.html %}

</body>
