<link rel='stylesheet' id='style-colorbox-css' href='/grizzly-theme/libs/colorbox/colorbox.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='style-flexslider-css' href='/grizzly-theme/libs/flexslider/flexslider.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-reset-css' href='/grizzly-theme/css/reset.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-main-style-css' href='/grizzly-theme/css/screen.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-element-style-css' href='/grizzly-theme/css/element.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-media-queries-css' href='/grizzly-theme/css/media-queries.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-style-css' href='/grizzly-theme/style.css?ver=3.1.1' type='text/css' media='all' />

<style type="text/css">
    /* Font */
    body {
        font-family: Arial, Helvetica, Garuda, sans-serif;
    }

    .rtf {
        font-size: 13px;
        line-height: 1.5em;
        color: #555555;
    }

    a,
    .rtf a {
        color: #e54b00;
    }

    a:hover,
    .rtf a:hover {
        color: #b73a00;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }

    /* Header */
    #branding {
        margin-top: 0px;
    }

    header,
    #site-title img {
        background-color: #FFFFFF;
    }

    /* Primary Menu */
    #primary-menu-container {
        font-size: 14px;
    }

    #header-wrap,
    #primary-menu-container ul,
    #primary-menu-container li {
        background-color: #FFFFFF;
    }

    /* Background */
    #show-space,
    #inner-page-show-space {
        background-color: #B0A0ff;
        background-image: url();
    }

    #pattern {
        background-image: url(/grizzly-theme/images/pattern/pixcel.png);
    }

    /* Table */
    #table-top,
    #table-border {
        background-color: #9f3400;
        background-image: url(/grizzly-theme/images/pattern/table/wood.png);
    }

    /* Mat */

    /* Footer */
    body,
    footer {
        background-color: #333333;
    }

    /* Custom CSS */
    ul.toc,
    ul.contact-info {
        list-style: none;
    }

    ul.toc li {
        font-family: monospace;
        white-space: pre;
    }

    .text-monospace {
        font-family: monospace;
        white-space: pre-wrap;
        line-height: 1.45em;
    }

</style>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"
  integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn"
  crossorigin="anonymous"></script>

<!-- Theme Custom JS -->
<script type="text/javascript">
    jQuery(document).ready(function($) {});
</script>
<!-- End Theme Custom JS -->

<!-- browser.msie workaround - var needed by several libs -->
<script type="text/javascript">
    jQuery.browser = {};
    (function() {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();

</script>
