<footer class="rtf">
	<div id="footer-content" class="clearfix container">
		<div id="footer-menu">
			<ul id="menu-footer" class="menu">
				<li id="menu-item-fterms" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-fterms"><a href="/legal/terms.html">Terms of Use</a></li>
				<li id="menu-item-ftprivacy" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-fprivacy"><a href="/legal/privacy.html">Privacy Policy</a></li>
			</ul>
		</div>
		<div id="copyright">Copyright © 2008 Cardillo's Creations. All Rights Reserved.</div>
	</div>
</footer>
