<!-- Site Head -->
<head>
  <meta charset="utf-8" />
  <title>{{ page.title | strip_html }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

  <!-- Importing Styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <!-- various forms of favicons !-->
  <!-- see: https://realfavicongenerator.net/ !-->
  <link rel="icon" sizes="any" type="image/svg+xml" href="/images/favicon/favicon.svg?v=20220130">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=20220130">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=20220130">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=20220130">
  <link rel="manifest" href="/images/favicon/site.webmanifest?v=20220130">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=20220130" color="#5bbad5">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico?v=20220130">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png?v=20220130">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=20220130">
  <meta name="theme-color" content="#ffffff">

  <!-- Font Awesome Kit Reference -->
  <script src="https://kit.fontawesome.com/b37559d3ba.js" crossorigin="anonymous"></script>

  {% include google-analytics.html %}
</head>
