<header>
  <div id="header-content" class="clearfix container">
  	<div id="branding" role="banner">
  		<div id="site-title">
  				<a href="/" title="Cardillo&#039;s Creations" rel="home">
  					<img src="/images/LogoHeaderOnly.60.png" alt="Cardillo&#039;s Creations" />
          </a>
  		</div>
  		<div id="site-description">Creating software and mobile apps to entertain and delight.</div>
  	</div>
  	<nav id="primary-menu-container">
      <ul id="social-list">
    		<li class="facebook"><a href="https://www.facebook.com/cardilloscreations">facebook</a></li>
    		<li class="amazon"><a href="http://www.amazon.com/s/ref=bl_sr_mobile-apps?_encoding=UTF8&field-brandtextbin=Cardillo%27s%20Creations%20LLC&node=2350149011">amazon</a></li>
    		<li class="android"><a href="https://play.google.com/store/apps/developer?id=Ray+Cardillo">android</a></li>
    		<li class="apple"><a href="https://itunes.apple.com/us/developer/raymond-cardillo/id1448228634">apple</a></li>
      </ul>
  		<ul id="primary-menu" class="">
        <li id="menu-item-230" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == "Home" %}current-menu-item page_item page-item-210 current_page_item{% endif %} menu-item-230"><a href="/">Home</a></li>
        <li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == "Apps" %}current-menu-item page_item page-item-151 current_page_item{% endif %} menu-item-154"><a href="/apps/">Apps</a></li>
        <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == "About Us" %}current-menu-item page_item page-item-53 current_page_item{% endif %} menu-item-162"><a href="/about-us/">About Us</a></li>
        <li id="menu-item-159" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == "Contact" %}current-menu-item page_item page-item-36 current_page_item{% endif %} menu-item-159"><a href="/contact/">Contact</a></li>
      </ul>
  		<div id="primary-select-container">
  			<div id="primary-select-mask"><span id="primary-select-mask-value">Select Page ...</span> <span id="primary-select-mask-bt"></span></div>
  		</div>
  	</nav>
  </div>
  <div id="header-shadow"></div>
</header>
