<h2 class="section-title section-lined"><span>Releases</span></h2>
<p>Open the tabs below to see released versions and the privacy policy for each release.</p>

<div class="accordions-wrap" initial-tab="0">

{%- for release in include.releases -%}
{%- assign version = release.version -%}
{%- assign privacy-date = release.privacy-date -%}

  <h5 class="tab">Version: {{ version }}</h5>
  <div class="pane" style="margin-left: 1.6em;">
    <div class="text-monospace">
{%- if privacy-date -%}<b>APP PRIVACY POLICY:</b>
- <a href="./privacy/privacy.{{ privacy-date | date: '%Y%m%d' }}.html">Privacy Policy ({{ privacy-date }})</a>
{% endif -%}
<b>APP RELEASE NOTES:</b> {% for note in release.notes %}
- {{ note }} {% endfor -%}
    </div>
  </div>

{%- endfor -%}

</div>