<link rel='stylesheet' id='style-colorbox-css'  href='/grizzly-theme/libs/colorbox/colorbox.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='style-flexslider-css'  href='/grizzly-theme/libs/flexslider/flexslider.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-reset-css'  href='/grizzly-theme/css/reset.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-main-style-css'  href='/grizzly-theme/css/screen.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-element-style-css'  href='/grizzly-theme/css/element.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-media-queries-css'  href='/grizzly-theme/css/media-queries.css?ver=3.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme-style-css'  href='/grizzly-theme/style.css?ver=3.1.1' type='text/css' media='all' />

<style type="text/css">

	/* Font */
	body {
		font-family: Arial,Helvetica,Garuda,sans-serif;
	}
	.rtf {
		font-size: 13px;
		line-height: 1.5em;
		color: #555555;
	}
	a,
	.rtf a {
		color: #e54b00;
	}
	a:hover,
	.rtf a:hover {
		color: #b73a00;
	}
			h1 { font-size: 32px; }
				h2 { font-size: 28px; }
				h3 { font-size: 26px; }
				h4 { font-size: 24px; }
				h5 { font-size: 20px; }
				h6 { font-size: 16px; }

	/* Header */
	#branding { margin-top: 0px; }
	header,
	#site-title img { background-color: #FFFFFF; }

	/* Primary Menu */
	#primary-menu-container { font-size: 14px; }
	#header-wrap,
	#primary-menu-container ul,
	#primary-menu-container li{
		background-color: #FFFFFF;
	}

	/* Background */
	#show-space,
	#inner-page-show-space {
		background-color: #B0A0ff;
		background-image: url();
	}
	#pattern {
		background-image: url(/grizzly-theme/images/pattern/pixcel.png);
	}

	/* Table */
			#table-top,
		#table-border {
			background-color: #9f3400;
			background-image: url(/grizzly-theme/images/pattern/table/wood.png);
		}

	/* Mat */

	/* Footer */
	body,
	footer { background-color: #333333; }

	/* Custom CSS */
	ul.toc {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	ul.toc li {
		font-family: monospace;
		white-space: pre;
	}
</style>

<script type='text/javascript' src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type='text/javascript' src="https://code.jquery.com/jquery-migrate-1.4.1.js"></script>
<script type='text/javascript' src="https://oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>

<!-- Theme Custom JS -->
<script type="text/javascript">
jQuery(document).ready(function($) {
});
</script>
<!-- End Theme Custom JS -->

<script type='text/javascript' src='/grizzly-theme/libs/modernizr.custom.js?ver=4.0.13'></script>
<script type='text/javascript' src='/grizzly-theme/libs/respond.min.js?ver=4.0.13'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.metadata.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.validate.min.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.easing.1.3.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/supersubs.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/colorbox/jquery.colorbox-min.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.tweet.min.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.imagesloaded.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.retina-0.1.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/html5.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.hoverIntent.min.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/bootstrap-twipsy.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/flexslider/jquery.flexslider-min.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.fitvids.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.bgpos.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.quicksand.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/jquery.mobilemenu.js?ver=3.1.1'></script>
<script type='text/javascript' src='/grizzly-theme/libs/grizzly-core.js?ver=3.1.1'></script>
