/**
 *  Portfolio Style
 **/

section.portfolio-section {

  // Link Icons
  .nav-item {
    a.nav-link {
      color: $color-navbar-text;

      &:hover,
      &:active {
        color: $color-navbar-text-active;
      }

      img {
        height: 3.0em;
        width: 3.0em;
        filter: invert(1.0);
      }
    }
  }

  .portfolio-grid {
    .card {
      &:hover {
        transform: translate3D(0, -1px, 0) scale(1.02);
        transition-duration: 0.3s;
      }
    }

    // Links
    a {
      color: $color-dark-link;
      text-decoration: none;
      transition: all $transition-links $transition-links-type;

      &:hover,
      &:active {
        color: lighten($color-dark-link, 35%);
        font-weight: 500;
      }
    }
  }

}