/**
 *  Portfolio Style
 **/

section.portfolio-section {

  // Link Icons
  .nav-item {
    a.nav-link {
      color: $color-navbar-text;

      &:hover,
      &:active {
        color: $color-navbar-text-active;
      }

      img {
        height: 3.0em;
        width: 3.0em;
        filter: invert(1.0);
      }
    }
  }

}
