---
title: Website Privacy Policy
---

<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>

<meta charset="UTF-8" />
<title>{{ page.title }} | Cardillo&#039;s CreationsCardillo&#039;s Creations</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

{% include style.html %}

</head>
<body class="page page-id-337 page-template-default header-light footer-dark show-space-light"  >

		{% include header.html %}

    <section id="inner-page-show-space">

				    <div id="page-header" class="container">
		    	<h1 id="page-title">
		    		Website Privacy Policy		    	</h1>
		    			    </div>

		<div id="show-space-shadow"></div>
		<div id="pattern"></div>

	</section><!-- #inner-page-show-space -->

	<section id="body" class="full-width">
		<div id="body-wrap" class="container">
			<div id="body-content" class="clearfix rtf">

			<div id="main-content">
	        		        		        	<p>Full policy to be posted soon.  In the meantime&#8230;</p>
<p>This website does not intentionally collect and store any data other that what is done by our analytics vendor (Google Analytics) for the purpose of understanding our market space better and enhancing future services.</p>
	        		        </div>

			</div><!-- #body-content -->
	    </div><!-- #body-wrap -->
	</section><!-- #body -->

	{% include footer.html %}
	{% include google-analytics.html %}

</body>
</html>
