---
title: eyeZ
---

<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }} | Cardillo&#039;s Creations</title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

    {% include css.html %}

</head>

<body class="single single-app postid-191 mat-off table-on header-light footer-dark show-space-light">

    {% include header.html %}

    <section id="show-space">

        <style type="text/css" scoped>
            /* Background */

            /* Layout Override */
        </style>

        <script type="text/javascript">
            //<![CDATA[

            jQuery(document).ready(function($) {

                $('#screen.flexslider').flexslider({
                    animation: 'slide',
                    slideDirection: 'horizontal',
                    animationSpeed: 500,
                    slideshowSpeed: 3500,
                    slideshow: true,
                    controlNav: false
                });

                // Badge
                $('.application-market-link .button').mouseenter(function() {
                    $('.qr-price img', $(this).parent('.application-market-link')).stop().animate({
                        top: 10
                    }, 300, 'easeOutQuad');
                }).mouseleave(function() {
                    $('.qr-price img', $(this).parent('.application-market-link')).stop().animate({
                        top: 110
                    }, 300, 'easeOutQuad');
                });

                // Retina
                if (document.documentElement.clientWidth > 750) {
                    $('.retina').retina({
                        preload: true,
                        css: {
                            'z-index': 9999
                        }
                    });
                }

                // Show Application Box after Loaded
                if (!$.browser.msie) {
                    var app_box_imgs_load = $('.application-box').imagesLoaded();
                    app_box_imgs_load.always(function($images) {
                        $('.application-box').animate({
                            opacity: 1
                        }, 600);
                    });
                } else {
                    $('.application-box').css('opacity', 1);
                }

            });
            //]]>
        </script>

        <div id="android-phone-portrait-box" class="application-box clearfix portrait android-phone container">

            <div id="application-info-box">

                <img id="apps-icon" src="images/icon-240-64x64.png" />

                <h1 id="apps-title">
                    eyeZ </h1>

                <div id="showcase-info">
                    <p>A silly pair of droid googly eyes that roll around as you move the device. Nothing super amazing... just some silly fun.</p>
                </div>

                <!-- Button #1 -->
                <div class="application-market-link">
                    <div class="button action-button black google-play-button ">

                        <a href="https://play.google.com/store/apps/details?id=com.cardilloscreations.android.eyez"> <span>FREE <small>on Google Play</small></span><span class="icon-mask"></span>
                        </a>
                    </div>

                    <div class="qr-price">
                        <img src="https://api.qrserver.com/v1/create-qr-code/?data=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.cardilloscreations.android.eyez&size=100x100" alt="qr-code" />
                    </div>
                </div>

                <!-- Button #2 -->

                <!-- Button #2 -->


            </div><!-- #application-info-box -->


            <div id="device-box">
                <div id="device">

                    <div id="screen" class="flexslider">
                        <ul class="slides">
                            <li><img src="images/sshot1-android.png" /></li>
                            <li><img src="images/sshot2-android.png" /></li>
                        </ul>
                    </div>

                </div>
                <div class="shadow">
                    <div class="shadow-left"></div>
                    <div class="shadow-body"></div>
                    <div class="shadow-right"></div>
                </div>
            </div><!-- #device-box -->

        </div><!-- #application-box -->

        <div id="show-space-shadow"></div>
        <div id="pattern"></div>

    </section> <!-- #show-space -->

    <!-- TABLE -->
    <!-- Board & Mat -->
    <section id="table-wrap">
        <div id="table-top">
            <div id="table-top-shadow">
                <div id="table-mat-top-wrap">
                    <div id="table-mat-top-texture"></div>
                    <div id="table-mat-top"></div>
                </div>
            </div>
        </div>
        <div id="table-border">
            <div class="border-bottom-line"></div>
            <div id="table-border-shadow">
                <div id="table-mat-body-wrap-outer">
                    <div id="table-mat-body-wrap">
                        <div class="border-bottom-line"></div>
                        <div id="table-mat-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="table-shadow"></div>
    </section><!-- #table-wrap -->
    <!-- END TABLE -->

    <section id="body">
        <div id="body-wrap" class="container">
            <div id="body-content">

                <h3 class="section-title section-title-center">Enjoy this silly pair of droid googly eyes that roll around as you move the device. It&#8217;s not going to change your life so don&#8217;t expect too much. Just a silly pair of eyes. Those familiar with Xeyes on X-Windows may also appreciate this app.</h3>
                <div class="clear"></div>
                <div class="clear"></div>
                <div class="space"></div>
                <h2 class="section-title  section-lined"><span>Features</span></h2>
                <div class="list-set type-1 list-green">
                    <ul>
                        <li>Realistic fluid based movement using accelerometer feedback and advanced physics.</li>
                        <li>Options to make eyes either &#8220;fixed&#8221; or &#8220;floating&#8221; based on your preference.</li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="clear"></div>
                <div class="space"></div>

            </div><!-- #body-content -->
        </div><!-- #body-wrap -->
    </section><!-- #body -->

    {% include footer.html %}
    
    {% include javascript.html %}
    {% include google-analytics.html %}

</body>

</html>