<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<!--
	Copyright 2019 - Raymond Cardillo (dba Cardillo's Creations)
	-->
	<head>

		<meta charset="UTF-8" />
		<title>{{ page.title }} | Cardillo&#039;s Creations</title>
		<link rel="profile" href="http://gmpg.org/xfn/11" />

		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

		{% include style.html %}

	</head>
	<body class="page page-template-default header-light footer-dark show-space-light">

		{% include header.html %}

		<section id="inner-page-show-space">
			<div id="page-header" class="container">
				<h1 id="page-title">{{ page.title }}</h1>
			</div>
			<div id="show-space-shadow"></div>
			<div id="pattern"></div>
		</section><!-- #inner-page-show-space -->

		<section id="body" class="full-width">
			<div id="body-wrap" class="container">
				<div id="body-content" class="clearfix">
					<div id="main-content">
						{{ content }}
					
						<div class="clear"></div>
						<div class="space"></div>
					</div><!-- #main-content -->
				</div><!-- #body-content -->
			</div><!-- #body-wrap -->
		</section><!-- #body -->

		{% include footer.html %}
		{% include google-analytics.html %}

	</body>
</html>
